@{
}

@model IEnumerable<string>

<div class="d-grid gap-2">
    <a asp-controller="Home" asp-action="Index" asp-route-bookCategory="" asp-route-pageNum ="1"
       data-toggle="tooltip" data-placement="right" title="Remove Filters"
       class="btn btn-rounded btn-outline-secondary btn-block">Home</a>

    @foreach (string t in Model)
    {
        <a asp-controller="Home" asp-action="Index" asp-route-bookCategory="@t" asp-route-pageNum="1"
           data-toggle="tooltip" data-placement="right" title="Filter by this Category"
           class="btn btn-rounded btn-outline-secondary btn-block @(ViewBag.SelectedType == t ? "btn-primary" : "btn-outline-secondary")">@t</a>
    }
</div>