@page
@model Mission09_cji23.Pages.PurchaseCompletedModel
@{
}

<div class="text-center">
    <h2>Thanks! Your order will ship shortly!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>